#Ejercicio1
#Ignore pycache from main
Ejercicio1/__pycache__
#Ignore pycache from classes
Ejercicio1/classes/__pycache__
#Ignore pycache from controllers
Ejercicio1/controllers/__pycache__
#Ignore pycache from utils
Ejercicio1/utils/__pycache__

#Ejercicio2
#Ignore pycache from main
Ejercicio2/__pycache__
#Ignore pycache from classes
Ejercicio2/classes/__pycache__
#Ignore pycache from controllers
Ejercicio2/controllers/__pycache__
#Ignore pycache from utils
Ejercicio2/utils/__pycache__

#Ejercicio3
#Ignore pycache from main
Ejercicio3/__pycache__
#Ignore pycache from classes
Ejercicio3/classes/__pycache__
#Ignore pycache from controllers
Ejercicio3/controllers/__pycache__
#Ignore pycache from utils
Ejercicio3/utils/__pycache__

#Ejercicio4
#Ignore pycache from main
Ejercicio4/__pycache__
#Ignore pycache from classes
Ejercicio4/classes/__pycache__
#Ignore pycache from controllers
Ejercicio4/controllers/__pycache__
#Ignore pycache from utils
Ejercicio4/utils/__pycache__

#Ejercicio5
#Ignore pycache from main
Ejercicio5/__pycache__
#Ignore pycache from classes
Ejercicio5/classes/__pycache__
#Ignore pycache from controllers
Ejercicio5/controllers/__pycache__
#Ignore pycache from utils
Ejercicio5/utils/__pycache__

#Ejercicio6
#Ignore pycache from main
Ejercicio6/__pycache__
#Ignore pycache from classes
Ejercicio6/classes/__pycache__
#Ignore pycache from controllers
Ejercicio6/controllers/__pycache__
#Ignore pycache from utils
Ejercicio6/utils/__pycache__

#Ejercicio7
#Ignore pycache from main
Ejercicio7/__pycache__
#Ignore pycache from classes
Ejercicio7/classes/__pycache__
#Ignore pycache from controllers
Ejercicio7/controllers/__pycache__
#Ignore pycache from utils
Ejercicio7/utils/__pycache__

#Ejercicio8
#Ignore pycache from main
Ejercicio8/__pycache__
#Ignore pycache from classes
Ejercicio8/classes/__pycache__
#Ignore pycache from controllers
Ejercicio8/controllers/__pycache__
#Ignore pycache from utils
Ejercicio8/utils/__pycache__

#Investigacion
Investigacion

#Integrador
#Ignore pycache from main
Integrador/__pycache__
#Ignore pycache from classes
Integrador/classes/__pycache__
#Ignore pycache from controllers
Integrador/controllers/__pycache__
#Ignore pycache from utils
Integrador/utils/__pycache__
Integrador/Ejercicio Integrador Año 2023.pdf

#Unidad 3
#Ejercicio1
#Ignore pycache from main
Unidad3/Ejercicio1/__pycache__
#Ignore pycache from classes
Unidad3/Ejercicio1/classes/__pycache__
#Ignore pycache from controllers
Unidad3/Ejercicio1/controllers/__pycache__
#Ignore pycache from utils
Unidad3/Ejercicio1/utils/__pycache__

#Ejercicio2
#Ignore pycache from main
Unidad3/Ejercicio2/__pycache__
#Ignore pycache from classes
Unidad3/Ejercicio2/classes/__pycache__
#Ignore pycache from controllers
Unidad3/Ejercicio2/controllers/__pycache__
#Ignore pycache from utils
Unidad3/Ejercicio2/utils/__pycache__

#Ejercicio3
#Ignore pycache from main
Unidad3/Ejercicio3/__pycache__
#Ignore pycache from classes
Unidad3/Ejercicio3/classes/__pycache__
#Ignore pycache from controllers
Unidad3/Ejercicio3/controllers/__pycache__
#Ignore pycache from utils
Unidad3/Ejercicio3/utils/__pycache__

#Ejercicio4
#Ignore pycache from main
Unidad3/Ejercicio4/__pycache__
#Ignore pycache from classes
Unidad3/Ejercicio4/classes/__pycache__
#Ignore pycache from controllers
Unidad3/Ejercicio4/controllers/__pycache__
#Ignore pycache from utils
Unidad3/Ejercicio4/controllers/utils/__pycache__